@{
    ViewData["Title"] = "Home Page";
}

<div>
    <section class="section">
        <div class="container">
            <h1 id="title" class="title"><img id="icon" src="img/favicon.svg"/> custm.ink</h1>
        </div>
    </section>
    <div class="columns is-centered">
        <div class="field has-addons column is-half is-centered columns">
            <div class="control">
                <input id="urlfield" class="input column is-primary is-full" placeholder="jkvo.xyz" />
            </div>
            <div class="control">
                <a class="button is-primary" onclick="makeShortLink(event)">Go</a>
            </div>
        </div>
    </div>
    <div class="columns is-centered" id="output">
        <div class="column is-two-thirds">
            <div class="panel is-primary">
                <div class="panel-heading">
                    Shortlink
                </div>
                <a class="panel-block" id="outputbody" onclick="copyLink(event)">
                    https://custm.ink/
                </a>
            </div>
            <div class="columns is-centered">
                <div class="notification is-success column is-one-third is-centered" id="copynotification">
                    <center>Copied!</center>
                </div>
            </div>
        </div>
    </div>
</div>
